---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.1/summoner/by-name/kingles?api_key=064bda43-a64d-4323-b207-cbc92e14883a
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":19231455,"name":"Kingles","profileIconId":518,"summonerLevel":30,"revisionDate":1387756920000,"revisionDateStr":"12/23/2013
        12:02 AM UTC"}'
  recorded_at: Mon, 23 Dec 2013 18:54:47 GMT
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/nav1.1/summoner/by-name/kingles?api_key=064bda43-a64d-4323-b207-cbc92e14883a
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": {"message": "Access denied", "status_code": 401}}'
  recorded_at: Mon, 23 Dec 2013 19:17:29 GMT
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/by-name/kingles?api_key=064bda43-a64d-4323-b207-cbc92e14883a
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": {"message": "Access denied", "status_code": 401}}'
  recorded_at: Mon, 23 Dec 2013 19:27:39 GMT
recorded_with: VCR 2.8.0
